body {
	padding : 0px;
	margin : 0px;
}

#container {
	padding-top : 30px;
	position : fixed;
	width : 100%;
	height : 100%;
}

#navigation_bar li {
	list-style-type: none;
	display : inline-block;
	position : relative;
	height : 30px;
	padding-bottom: 15px;
	margin-left : 20px;
	margin-right : 20px;
	left: -20px;
}

#navigation_bar {
	position : fixed;
	width : 100%;
	box-shadow: 0 1px 14px 0 rgba(0,0,0, 0.4);
	height : 30px;
	margin-top : -30px;
	z-index: 1;
}

#navigation_bar ul {
	height : 30px;
	margin : 0px;
}

#content {
	width : 100%;
	height : 100%;
}

#content_top {
	display : inline-block;
	width : 100%;
	height : 50%;
}

#map_canvas {
	display : inline-block;
	float : left;
	width : 50%;
	height : 100%;
	z-index : -1;
}

#user_info {
	display : inline-block;
	float : left;
	width : 50%;
	height : 100%;
	background : black;
}

#content_bottom {
	display : inline-block;
	width : 100%;
	height : 50%;
	background: blue;
}

h1 {
	color : white;
}