<!DOCTYPE>
<html>
<head>
	<title>Compleat</title>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="../../assets/javascripts/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../assets/stylesheets/splash.css"></link>
</head>
<body>
	<div id="header"></div>
	<div id="container">
		<div id="top">
			<img src="images/compleat.png">
		</div>
		<div id="bottom">
			<img src="../../assets/images/Steps.png">
		</div>
		<div id="buttons">
			<a><button id="login">Login</button></a>
			<a><button id="signin">Sign In</button></a>
		</div>
	</div>
	<div id="footer">
	</div>
</body>
</html>