<!DOCTYPE>
<html>
<head>
	<title>Compleat</title>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	{% load staticfiles %}
	<script src="{% static 'app/js/index.js' %}"></script>
</head>
<body>
	<h1>Welcome to Compleat</h1>
	<br>
	<h2>Login</h2>
	<form>
		<div>
			<label for="email">Email: </label>
			<input id="email" type="text" name="email" />
		</div>
		<div>
			<label for="password">Password: </label>
			<input id="password" type="password" name="password" />
		</div>
		<div>
			<button id="login" type="button" name="Login">Login</button>
		</div>
	</form>
	<br>
	<h2>Sign Up</h2>
	<form>
		<div>
			<label for="new_first_name">First Name: </label>
			<input id="new_first_name" type="text" name="new_first_name" />
		</div>
		<div>
			<label for="new_last_name">Last Name: </label>
			<input id="new_last_name" type="text" name="new_last_name" />
		</div>
		<div>
			<label for="new_email">Email: </label>
			<input id="new_email" type="text" name="new_email" />
		</div>
		<div>
			<label for="new_password">Password: </label>
			<input id="new_password" type="password" name="new_password" />
		</div>
		<div>
			<label for="new_confirm_pw">Confirm Password: </label>
			<input id="new_confirm_pw" type="password" name="new_confirm_pw" />
		</div>
		<div>
			<button id="signup" type="button" name="Signup">Sign Up</button>
		</div>
	</form>
</body>
</html>
