<!DOCTYPE>
<html>
<head>
	<title>Compleat</title>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWuJQ9I7VNlCE1GMswlE0xzqDZgWbzW-E&libraries=places&sensor=true"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	{% load staticfiles %}
	<script src="{% static 'app/js/main.js' %}"></script>
	<link rel="stylesheet" href="{% static 'app/css/main.css' %}"></link>
</head>
<body>
  <div id="block-holder">
    <div id='account' class="nav_button">
      <p id='account-text'>Account</p>
    </div>
    <div id='logout' class="nav_button">
      <p id='logout-text'>Logout</p>
    </div>
    <div id='privacy' class="nav_button">
      <p id='privacy-text'>Privacy</p>
    </div>
  </div>
  <div id='map-container'>
    <div id="map-canvas"></div>
  </div>
  <div id="left-sidebar">
    <div id="menu">
      <form>
        <input type="text" id="search">
        <label for="search">Search</label>
      </form>
      <div id='div1' class="menu_selector">Title</div>
      <div id='div2' class="menu_selector">Title</div>
      <div id='div3' class="menu_selector">Title</div>
    </div>
    <div id="popups">
      <div class="popup" div="div1">Popup1</div>
      <div class="popup" div="div2">Popup2</div>
      <div class="popup" div="div3">Popup3</div>
    </div>
  </div>
<body>
</html>
