<!DOCTYPE html>
<html>
	<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{%static 'app/css/bootstrap-theme.css' %}">
	<link rel='stylesheet' href="{%static 'app/css/signin.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Dosis:300,400|Gafata' rel='stylesheet' type='text/css'>
	<img src="{%static 'app/images/city view.png' %}">
	</head>
	<div id='emaildiv'>
	Email:
	</div>
	<div id='passworddiv'>
	Password:
	</div>
	<input type="text" id="email">
	<input type="text" id="password">
	<button type="button" class="btn btn-default" id='signin'>Sign in</button>
</html>